@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.nav-bar {
  background-color: #cccccc;
  display: flex;
  padding: 70px;
  justify-content: center;
}

.search-bar {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  margin: 30px;
  color: #555555;
  font-family: "Times New Roman", Times, serif;
}

.icon {
  position: absolute;
  padding-right: 100px;
  color: #aaaaaa;
  left: 5%;
  top: 16px;
  z-index: 1;
  font-size: 24px;
}

.input {
  min-width: 1000px;
  height: 70px;
  padding-left: 92px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: auto;
}

::placeholder {
  color: #3a7ca5;
  font-weight: 400;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "a b c";
  width: 800px;
  margin: auto;
  z-index: 1;
  position: relative;
  bottom: 4rem;
}

.slide1 {
  grid-area: a;
  display: flex;
  flex-direction: column;
}

.slide2 {
  grid-area: b;
  display: flex;
  flex-direction: column;
}

.slide3 {
  grid-area: c;
  display: flex;
  flex-direction: column;
}

div {
  position: relative;
  padding-left: 0;
  margin-bottom: 20px;
}

.content {
  position: absolute;
  bottom: 10px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  width: 100%;
  max-width: 240px;
  padding: 30px;
  margin-bottom: -5px;
  border-radius: 7px;
}

h2 {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  color: white;
  left: 15px;
  padding-bottom: 2px;
}

p {
  position: absolute;
  bottom: 15px;
  font-size: 10px;
  color: white;
  left: 15px;
  padding-bottom: 2px;
}

img {
  object-fit: cover;
  min-width: 240px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 7px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.9);
}

.modal-content {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1000px;
  max-height: 70vh;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  color: black;
  background-color: white;
  padding: 15px 30px 40px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  height: 30px;
  margin-bottom: 0;
}

#caption2 {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  color: #aaaaaa;
  background-color: white;
  padding: 0 30px 10px 30px;
  height: 50px;
  margin-top: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-content,
#caption,
#caption2 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .input {
    min-width: 700px;
    padding-left: 60px;
  }
}

@media only screen and (max-width: 950px) {
  .input {
    min-width: 700px;
    padding-left: 60px;
  }

  .img {
    width: 100px;
  }

  .input {
    min-width: 500px;
    padding-left: 60px;
  }

  .icon {
    left: 7%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -14px 0 0 -14px;
}

.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid rgb(73, 43, 122);
}

.loading .mask {
  width: 12px;
  height: 12px;
  overflow: hidden;
}

.loading .spinner {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 26px;
  height: 26px;
  animation: spin 1s infinite linear;
}
